<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>firestation info</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">

    <div class="row">
        <div class="col-sm-6">
            <h2 th:inline="text">
                Account of [[${userAccount.name}]]
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
                <table>
                    <tr>
                        <td>Email:</td>
                        <td>
                            <p class="form-control-static" th:text="${userAccount.email}"></p>
                        </td>
                    </tr>
                    <tr>
                        <td>MoneyAmount:</td>
                        <td>
                            <p class="form-control-static" th:text="${userAccount.moneyAmount}"></p>
                        </td>
                    </tr>
                    <tr>
                        <td>Relatives:</td>
                        <td th:each="relative : ${relatives}">
                        <span th:text="${relative}"> relative <br></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Bank Accounts:</td>
                        <td th:each="bankAccount : ${bankAccounts}">
                            <span th:text="${bankAccount}"> bankAccount <br></span>
                        </td>
                    </tr>
                </table>
                <h2><a href="/userHome">Back to menu</a></h2>
        </div>
    </div>
</div>

</body>
</html>