<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add a medical record</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/transferApps.css}" />
</head>
<body>
<div class="container">

    <h2>Please Log In</h2>
    <div>
        <div class="form-group">
            <p><a href="/userHome">Connecting</a></p>
        </div>
            <div class="form-group">
                <p><a href="/account/create">Create an account</a></p>
            </div>
    </div>
</div>
</body>
</html>